<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="/">
            <svg class="bi">
                <use xlink:href="#house-fill" />
            </svg>
            Home
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2" href="/settings/">
            <svg class="bi">
                <use xlink:href="#gear-wide-connected" />
            </svg>
            Server Settings
        </a>
    </li>
    {#
    <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2" href="/partners">
            <svg class="bi">
                <use xlink:href="#globe" />
            </svg>
            Partners
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2" href="/blocking">
            <svg class="bi">
                <use xlink:href="#sign-stop" />
            </svg>
            Blocking
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2" href="/report">
            <svg class="bi">
                <use xlink:href="#people" />
            </svg>
            Report
        </a>
    </li>
    #}
    <li class="nav-item">
        <hr class="mt-2 mb-2">
        <a class="nav-link d-flex align-items-center gap-2" href="{{ url_for('advanced') }}">
            <svg class="bi">
                <use xlink:href="#gear-wide-connected" />
            </svg>
            Advanced
        </a>
        <ul class="nav flex-column">
            <li class="nav-item ms-3">
                <a class="nav-link d-flex align-items-center gap-2" href="{{ url_for('advanced_tools') }}">
                    Federation Tools
                </a>
            </li>
        </ul>

    </li>
</ul>

{#
<!-- nav subsection -->
<h6
    class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
    <span>Nav Sub Section</span>
</h6>
<ul class="nav flex-column mb-auto">
    <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2" href="#">
            <svg class="bi">
                <use xlink:href="#file-earmark-text" />
            </svg>
            Current month
        </a>
    </li>
</ul>

#}