<footer class="footer">
    <div class="container-fluid">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    &copy; 2023, Vocata
                </div>
                <div class="level-item">
                    <a href="https://codeberg.org/vocata/vocata" style="height: 20px">
                        Vocata Activity Pub Server
                    </a>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    http://locata.org
                </div>
            </div>
        </div>
    </div>
</footer>